__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/
.env/
myenv/

.pytest_cache/
.coverage
coverage.xml

*.sqlite3
db.sqlite3
media/
staticfiles/

.idea/
.vscode/
*.sublime-*

*.log
*.pot
.DS_Store
Thumbs.db